<h1>Dien thong tin de them User</h1>
<form action="/add" method="post" enctype="application/x-www-form-urlencoded">
    <label for="name"> Ten dang nhap : </label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="password"> Mat khau : </label>
    <input type="password" id="password" name="password" required><br><br>
    <label for="email"> Email : </label>
    <input type="email" id="email" name="email" required><br><br>
    <label for="age"> Tuoi : </label>
    <input type="number" id="age" name="age" required><br><br>
    <label for="phone"> So dien thoai : </label>
    <input type="number" id="phone" name="phone" required><br><br>
    <button type="submit" value="Submit"> ADD </button>
</form>